reflex~=0.8.25

# For Sign In With Google integration
reflex-google-auth>=0.0.4

# For postgres access
psycopg[binary]

# For async sqlite (development)
aiosqlite

# For async db access with sqlalchemy
greenlet

# For uploading to S3-compatible storage
boto3

# For deploying to Reflex Cloud with .env file
python-dotenv
